<%- include("../partials/header") %>

<%- include("../nav") -%>

<div class="container mt-5">
    <h2>Update Post</h2>

    <form autocomplete="off" action="/article/<%=article.id%>" method="POST">
        <input type="hidden" name="id" value="<%=article._id%>">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title of the post</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Write a title" value="<%= article.title %>">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description of the post</label>
            <textarea class="form-control" name="description" id="description" rows="8"><%= article.description %></textarea>
        </div>

        <button type="submit" class="btn btn-info">Save Changes</button>
        <a href="/" class="btn btn-dark">Cancel</a>
    </form>
</div>

<%- include("../partials/footer") %>